<h2>Welcome <%= @user.email %></h2>

<form action="<%=bands_url%>" method="GET">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
 
 
  <input type="submit" value="See all bands!"/>
</form>



